@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/idroid');

/* UTILIZAR VARIAVEIS
    :root {
        --cor01: #fefefe;
    } 
*/

body {
    background-color: #84E1AD;
    /* margin: auto; */
    margin: 0;
    padding: 0;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, #41D976, #33B76E, #2B975A, #227948, #1A5C38);
    border-top-width: 13px;
    border-top-style: solid;
    margin-top: -22px;
    margin-right: -8px;
    margin-left: -8px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    padding-bottom: 15px;
    padding-left: 18px;
    box-shadow: -1px 3px 10px black;
    /* position: fixed;
    width: 100%;
    z-index: 1000; */
}

header > p {
    background-color: transparent;
    width: 400px;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 5px;
}

main {
    min-width: 320px;
    max-width: 800px;
    background-color: white;
    margin: auto;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    padding: 30px;
}

main > h1 {
    margin-top: 0px;
}

.list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    padding: 10px;
    border-radius: 5px;
}

nav > a:hover {
    background-color: #C5EBD5;
}

p#fim {
    background-color: #1A5C38;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}

ul {
    list-style-type: none;
    display: flex;
    /* flex-wrap: wrap; */
}

/* ul > li {
    flex: 1 1 50%;
} */
  
li::before {
    content: '🗹';  
    margin-right: 10px;
}

article {
    display: block;
    background-color: #C5EBD6;
    border-radius: 20px;
    padding: 0px 10px 10px 10px;
}

article > h1 {
    background-color: #2FA866;
    color: white;
    padding-top: 7px;
    padding-right: -15px;
    border-right-width: 0px;
    border-right-style: solid;
    margin-right: -10px;
    margin-left: -10px;
    padding-left: 28px;
    padding-bottom: 7px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1#t1 {
    font-family: 'IDroid', Arial, Helvetica, sans-serif;
}
  
h2#t2 {
    font-family: 'IDroid', Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #C5EBD5, #c5ebd59a, #c5ebd55b, #c5ebd520, white);
}

p{
    text-indent: 20px;
    font-size: 20px;
}

div.video {
    background-color: #1A5C38;
    margin: 0px -30px 30px -30px;
    padding: 20px;
    padding-bottom: 50%;

    position: relative;
}

div.video > iframe {
    position: absolute;

    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
